@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root{
  font-size: calc(0.8rem + 0.5vmax);
  --color-base: rgb(29, 32, 43);
  --color-contraste: rgb(255, 255, 255);
  --color-enfasis: rgb(82, 148, 226);
}

body{
  margin: 0;
  font-family: 'Montserrat';
  background-color: var(--color-base);
  color: var(--color-contraste);
  padding: 1em 2em;
}
a:focus{
  box-shadow: 0 0 0 0.2em var(--color-enfasis);
}

.controles{
  position: fixed;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-flow: row nowrap;
  z-index: 1;
  box-shadow: 0 0 0.8em 0 rgba(0, 0, 0, 0.7);
}
.controles a{
    background-color: var(--color-contraste);
    color: var(--color-base);
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0 1em;
    text-align: center;
    width: max-content;
}
.controles button{
  padding: 0.15em 0.3em;
  font-size: 2em;
  border: none;
  color: var(--color-contraste);
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.2s;
}
.controles button:focus{
  box-shadow: 0 0 0 0.1em var(--color-enfasis);
  z-index: 1;
}
.controles button:hover, .controles button:focus{
  background-color: rgba(80, 80, 80, 0.7);
}
.perfil{
  position: sticky;
  top: 1em;
}
@media (min-width: 90em){
  .perfil{
    position: fixed;
  }
}
.perfil a{
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  color: var(--color-contraste);
  gap: 1em;
}
.perfil a *{
  margin: 0;
}
.perfil img{
  height: 6em;
  width: auto;
}

.proyectos{
  display: flex;
  flex-flow: column;
  text-align: center;
}

.galeria__proyecto.small h2{
  visibility: hidden;
}
.galeria{
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  align-items: center;
  gap: 1em;
}
@media (min-width: 40em){
  .galeria{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  .galeria__proyecto.small{
    transform: scale(0.75);
  }
  .galeria__proyecto.small h2{
    visibility: visible;
  }
}
.galeria .galeria__proyecto{
  transition-property: transform;
  transition-duration: 0.75s;
  position: relative;
}
.galeria .galeria__proyecto.small:hover, .galeria .galeria__proyecto.small:focus{
  transform: scale(1);
}
.galeria .galeria__proyecto:hover img,.galeria .galeria__proyecto:focus img{
  filter: none;
}
.galeria .galeria__proyecto img{
  width: 100%;
  max-height: 50vmax;
  object-fit: cover;
  filter: saturate(0.2) brightness(0.4);
}
.galeria .galeria__proyecto img.visible{
  transition-property: filter;
  transition-duration: 0.5s;
  filter: none;
}
.galeria .galeria__proyecto.small img{
  transition-property: filter;
  transition-duration: 0.5s;
}
.galeria .galeria__proyecto h2{
  font-size: 1em;
  margin: 0;
  padding: 1em 0;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  color: var(--color-contraste);
  background-color: rgba(0, 0, 0, 0.7);
}
