@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i&display=swap');
:root {
	font-size: calc(0.8em + 0.4vmax);
  --color-enfasis: rgb(0, 204, 102);
	--color-normal: rgba(0, 0, 0, 0.77);
	--color-contraste: rgb(255, 255, 255);
}
button, input{
	font-size: 1em;
}
body{
	font-family: 'Open sans', sans-serif;
  margin: 0;
	font-weight: 100;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr min-content;
	min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
  outline: none;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
i{
		margin-right: 0.5em;
}
button::-moz-focus-inner{
  border: none;
}
/* Escritorio */
@media (min-width: 1024px){
	.navegacion{
		flex-grow: 1;
		display: flex;
		flex-flow: row wrap;
	}
	.menu-usuario{
		display: none;
	}
}
/* Tableta y móvil */
@media (max-width: 1024px), (max-width: 700px){
	.logo a{
		display: block;
	}
	.menu-usuario {
		padding: 1em;
		transition-property: color, background-color;
		transition-duration: 0.3s;
	}
	.menu-usuario:hover{
		cursor: pointer;
		background-color: var(--color-normal);
		color: var(--color-contraste);
	}
}

/* Tableta */
@media (max-width: 1024px){
	.navegacion.secundaria{
		display: none;
	}
}

/* Móviles */
@media (max-width: 700px) {
	.navegacion{
		display: none;
	}
  footer{
		flex-flow: column wrap;
	}
}

/* Cabecera */
header{
	z-index: 10;
	background: var(--color-contraste);
  display: flex;
  flex-flow: row nowrap;
	align-items: center;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	color: var(--color-normal);
	position: sticky;
	top: 0;
}
header a{
	padding: 1em 0.5em;
}
.logo a{
	color: var(--color-enfasis);
	transition-property: background-color, color;
	transition-duration: 0.3s;
}
.logo a:hover{
	color: var(--color-contraste);
	background-color: var(--color-enfasis);
}
.navegacion a{
	display: inline-block;
	transition-property: background-color, color;
	transition-duration: 0.3s;
}
.navegacion a:hover{
	color: var(--color-contraste);
	background-color: var(--color-normal);
}
.navegacion.secundaria{
	justify-content: flex-end;
}

/* Pié */
footer{
	background: rgb(30, 30, 30);
	display: flex;
	margin-top: 3em;
}
footer hr{
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
	height: 1px;
}
footer nav{
	flex-grow: 1;
	padding: 1em;
}
footer a{
	transition-property: color;
	transition-duration: 0.3s;
}
footer span a{
	color: rgb(200, 200, 200);
}
footer span a:hover{
	color: rgb(255, 255, 255);
}
footer nav ul{
	margin-top: 1.5em;
}
footer li a{
	display: block;
	margin-top: 0.5em;
	color: var(--color-enfasis);
}
footer li a:hover{
	color: var(--color-contraste);
}

/* Básicos de la sección principal */
main{
	display: grid;
	grid-template-columns: 90%;
	justify-content: center;
	overflow-x: hidden;
}
h1{
	color: var(--color-enfasis);
	text-align: center;
	font-weight: normal;
}
h2{
	color: var(--color-normal);
	margin-bottom: 0;
}
.enlace-texto{
  font-weight: 100;
  font-style: italic;
  text-decoration: underline;
}
