:root{
  font-size: calc(0.6em + 0.4vmax)
}
body{
  margin: 0;
  font-family: sans-serif;
  --color-normal: rgb(44, 44, 50);
  --color-enfasis: rgb(255, 255, 255);
}
a{
  text-decoration: none;
  color: inherit;
  outline: none;
}

header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background: var(--color-normal);
  color: var(--color-enfasis);
}
header h2:last-child a{
  border-bottom: 2px solid var(--color-enfasis);
}
header h2{
  padding: 0 1rem;
}
header h2:last-child{
  font-weight: normal;
  font-size:1rem;
  align-self: center;
}
.logo{
  font-weight: normal;
}
.logo::first-letter{
  color:rgb(200, 200, 200);
  font-weight: bold;
}

main{
  display: flex;
  flex-flow: row wrap;
}
.agregar-tarea{
  flex-basis: 100px;
}
.tareas{
  flex-basis: 300px;
}
.tareas h2 span{
  font-weight: lighter;
}
section{
  flex-grow: 1;
  padding: 2em;
}
main h2{
  padding: 1em;
  font-weight: normal;
  color: var(--color-enfasis);
  background: var(--color-normal);
}
form{
  display: flex;
  flex-flow: row nowrap;
}
form input{
  font-size: 1em;
  border-radius: 0;
}
form input[type=text]{
  border: 1px solid var(--color-normal);
  padding: 0.5em 1em;
  flex-grow: 1;
}
form input[type=submit]{
  border: 0;
  background: var(--color-normal);
  color: var(--color-enfasis);
  padding: calc(0.5em + 1px) 0.5em;
}
form input[type=submit]:hover{
  background: rgba(0, 0, 0,0.7);
}
.tareas ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.tareas li{
  display: grid;
  grid-template-columns: 1fr auto;
  padding-bottom: 1em;
}
.tareas li+li{
  padding: 1em 0;

  border-top: 1px var(--color-normal) solid;
}
.tareas ul span:nth-child(even){
  padding: 0.5em 1em;
  cursor: pointer;
}
.tareas ul span:nth-child(odd){
  padding: 0.5em 0;
  cursor: pointer;
}
.completa{
  color:rgb(150, 150, 150);
  text-decoration: line-through;
}
