@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

body{
  font-family: 'Source Sans Pro', sans-serif;
}

header{
  background-color: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
  text-align: center;
  position: sticky;
  top: 0;
  padding: 1em 0 2em;
}
header h1, header span{
  margin: 0;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
header h1{
  font-size: 2em;
}

header img{
  width: 100px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
}

.contenido{
  text-align: center;
}
.contenido h2{
  font-size: 1.5em;
  text-transform: uppercase;
  color: rgb(50,50,50);
  margin: 0px;
  padding: 0px;
  margin-top: 1em;
  border-bottom: solid 3px rgb(50,50,50);
}

a{
  text-decoration: none;
  color: rgb(17, 85, 204);
}
.contenido .campo{
  font-weight: bold;
}
.contenedor-grilla{
  margin-top: 1em;
  display: grid;
  grid-gap: 0.5em;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
}
.span-2{
  grid-column: span 2;
}

.r{
  text-align: right;
}
.l{
  text-align: left;
}
.dato{
  font-weight: normal;
}
